
.about-us {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px 231px;
  display: grid;
  grid-template-columns: 30.6% 56.9%;
  column-gap: 145px;

  /*
  @media (min-width: $tablet-width) {
    padding: 101px 0 183px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
  margin: 0;
  padding: 68px 0 70px;
  }*/
}

.about-us__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }*/
}

.about-us__title {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.62px;
  margin-bottom: 35px;
  /*
  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin-bottom: 25px;
  }*/
}

.about-us__subtitle {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 93px;
  /*
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 3px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 96px;
  }*/
}

.about-us__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 8px;

  &--crossfit {

  }
  /*
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 502px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
    text-align: left;
  }*/
}

.about-us__media {
  position: relative;
}

.about-us__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  vertical-align: bottom;
  /*
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 678px;
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 401px;
  }*/
}

.about-us__video {
  position: absolute;
  object-fit: cover;
  width: 364px;
  height: 228px;
  left: -63px;
  bottom: -75px;
  display: block;
  background-color: rgba(20, 54, 122, 0.5);
  background-blend-mode: multiply;
  /*
  @media (min-resolution: 2dppx) {
    background-image: url("../../images/about-us/bg-video/bg-video-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 265px;
    height: 167px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -83px;
  }*/
  /*
  @media (min-width: $desktop-width) {
    width: 364px;
    height: 228px;
    left: 119px;
    bottom: -111px;
  }*/
}

.about-us__video-button {
  margin: 0;
  position: absolute;
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  bottom: 49px;
  left: 50%;
  transform: translateX(-51%);
  background: transparent;
  border-radius: 50%;
  outline: none;
  box-shadow:
    inset -1px 0 0 1px rgba(237, 2, 51, 0.1),
    inset -1px -1px 0 1px rgba(159, 79, 211, 0.08),
    inset -1px 1px 0 1px rgba(159, 79, 211, 0.08),
    inset 1px -1px 0 1px rgba(94, 142, 226, 0.08),
    inset 1px 1px 0 1px rgba(94, 142, 226, 0.08),
    inset 1px 0 0 1px rgba(0, 62, 183, 0.1);
  /*
  @media (min-width: $tablet-width) {
    bottom: -35px;
    transform: translateX(-51%);
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    bottom: 0;
    transform: translateY(46%);
    left: 68px;
  }*/
}

.about-us__video-button::before {
  position: absolute;
  content: "";
  background: linear-gradient(97deg, #eb0233 17.6%, #003eb7 95.31%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);
  /*
  @media (min-width: $desktop-width) {
    width: 52px;
    height: 52px;
  }*/
}

.about-us__video-button::after {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-left: 12px solid #ffffff;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
  /*
  @media (min-width: $desktop-width) {
    border: 6px solid transparent;
    border-left: 10px solid #ffffff;
    left: 57%;
  }*/
}

.about-us__video-button:hover,
.about-us__video-button:focus {
  border: 2px solid #102654;
  box-shadow: none;
}

.about-us__video-button:hover::before,
.about-us__video-button:focus::before {
  background: #ffffff;
}

.about-us__video-button:hover::after,
.about-us__video-button:focus::after {
  border-left: 12px solid #102654;
  top: 50%;
  left: 57%;
  /*
  @media (min-width: $desktop-width) {
    border: 7px solid transparent;
    border-left: 10px solid #102654;
  }*/
}

.about-us__video-button:active::before {
  width: 58px;
  height: 58px;
  transition: width 0.3s, height 0.3s;
  top: 51%;
  left: 51%;
  /*
  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }*/
}

.about-us__video-button:disabled {
  border: 2px solid rgba(16, 38, 84, 0.4);
  cursor: default;
  box-shadow: none;
}

.about-us__video-button:disabled::after {
  border-left: 12px solid rgba(16, 38, 84, 0.4);
  top: 50%;
  left: 57%;
  /*
  @media (min-width: $desktop-width) {
    border: 7px solid transparent;
    border-left: 10px solid rgba(16, 38, 84, 0.4);
  }*/
}

.about-us__video-button:disabled::before {
  background: #ffffff;
  opacity: 0.4;
}

.about-us__video-button:disabled:active::before {
  width: 72px;
  height: 72px;
  /*
  @media (min-width: $desktop-width) {
    width: 52px;
    height: 52px;
  }*/
}
