.about-us {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 120px 103px 231px;
  display: grid;
  grid-template-columns: 30.6% 56.9%;
  column-gap: 145px;

  @include vp-1365 {
    padding: 101px 45px 183px;
    grid-template-columns: 100%;
    text-align: center;
  }

}

.about-us__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.about-us__title {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 1.62px;
  margin-bottom: 35px;
  width: 100%;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;

  }
}

.about-us__subtitle {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 93px;
  width: 100%;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 36px;
    width: 46%;
  }
}

.about-us__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 8px;

  @include vp-1365 {
    width: 74%;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  &--crossfit {
    @include vp-1365 {
      display: none;
    }
  }
}

.about-us__media {
  position: relative;
}

.about-us__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  vertical-align: bottom;

}

.about-us__video {
  position: absolute;
  object-fit: cover;
  width: 364px;
  height: 228px;
  left: -63px;
  top: 288px;
  display: block;
  background-color: #030a1a;
  background-blend-mode: multiply;

}

.about-us__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 54, 122, 0.5);
  z-index: 1;
}

.about-us__video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #030a1a;
}

.about-us__video-button {
  margin: 0;
  position: absolute;
  padding: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  bottom: 50%;
  left: 50%;
  transform: translate(-51%, 49%);
  background: transparent;
  border-radius: 50%;
  outline: none;
  border: 2px solid rgba(237, 2, 51, 0.2);
  z-index: 2;

}

.about-us__video-button::before {
  position: absolute;
  content: "";
  background: linear-gradient(97deg, #eb0233 17.6%, #003eb7 95.31%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);

}

.about-us__video-button::after {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-left: 12px solid #ffffff;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);

}

.about-us__video-button:hover,
.about-us__video-button:focus {
  border: 2px solid #102654;
  box-shadow: none;
}

.about-us__video-button:hover::before,
.about-us__video-button:focus::before {
  background: #ffffff;
}

.about-us__video-button:hover::after,
.about-us__video-button:focus::after {
  border-left: 12px solid #102654;
  top: 50%;
  left: 57%;

}

.about-us__video-button:active::before {
  width: 58px;
  height: 58px;
  transition: width 0.3s, height 0.3s;
  top: 51%;
  left: 51%;

}

.about-us__video-button:disabled {
  border: 2px solid rgba(16, 38, 84, 0.4);
  cursor: default;
  box-shadow: none;
}

.about-us__video-button:disabled::after {
  border-left: 12px solid rgba(16, 38, 84, 0.4);
  top: 50%;
  left: 57%;

}

.about-us__video-button:disabled::before {
  background: #ffffff;
  opacity: 0.4;
}

.about-us__video-button:disabled:active::before {
  width: 72px;
  height: 72px;

}
