.about-us {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 115px 103px 234px;
  display: grid;
  grid-template-columns: 30.6% 56.9%;
  column-gap: 145px;

  @include vp-1365 {
    padding: 101px 45px 183px;
    grid-template-columns: 100%;
    text-align: center;
  }

  @include vp-767 {
    padding: 71px 0 70px;
    text-align: left;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $second-font;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin-bottom: 29px;
    width: 100%;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin: 0 auto 19px;
      width: 50%;
    }

    @include vp-767 {
      margin: 0 0 12px;
      padding: 0 15px;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      width: 100%;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 93px;
    width: 100%;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
      margin: 0 auto 34px;
      padding-right: 5px;
      width: 50%;
    }

    @include vp-767 {
      margin: 0 0 37px;
      padding: 0 15px;
      font-size: 18px;
      line-height: 20px;
      width: 100%;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 8px;

    @include vp-1365 {
      width: 74%;
      margin: 0 auto 38px;
    }

    @include vp-767 {
      width: 100%;
      margin: 0 0 53px;
      padding: 0 15px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  p + p {
    @include vp-1365 {
      display: none;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

.about-us__media {
  position: relative;
  margin-top: 5px;

  @include vp-1365 {
    margin-top: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
}

.about-us__video-container {
  position: absolute;
   object-fit: cover;
   width: 364px;
   left: -63px;
   top: 287px;
   display: block;
   background-color: $color-black;
   background-blend-mode: multiply;

   @include vp-1365 {
     width: 39.09%;
     position: absolute;
     top: auto;
     bottom: -83px;
     left: 50%;
     transform: translateX(-50%);
   }

   @include vp-767 {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 52.2%;
     left: 0;
     top: 0;
     transform: none;
   }
 }

 .about-us__video {
   position: relative;
   width: 100%;
   height: 0;
   padding-bottom: 63%;
   background-color: #000000;

   @include vp-767 {
   padding-bottom: 52.2%;
   }
 }

 .about-us__video img {
    position: absolute;
    height: 100%;
    object-fit: fill
 }

 .about-us__video::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(20, 54, 122, 0.5);
   z-index: 1;
 }

 .about-us__video iframe {
   width: 100%;
   height: 100%;
   background-color: $color-black;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 3;
 }
.about-us__video-button {
  margin: 0;
  position: absolute;
  padding: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  bottom: 50%;
  left: 50%;
  transform: translate(-51%, 49%);
  background: transparent;
  border-radius: 50%;
  outline: none;
  border: 2px solid rgba(237, 2, 51, 0.2);
  z-index: 2;

  @include vp-1365 {
    width: 72px;
    height: 72px;
  }

  @include vp-767 {
    transform: translate(-50%, 49%);
  }

  @include hover-focus {
    border: 2px solid $color-default-blue;
  }

  @include active {
    &:active:not(.focus-visible):not(:disabled) {
      border: 2px solid $color-default-blue;
    }
  }
}

.about-us__video-button:hover,
.about-us__video-button:focus {
  border: 2px solid  $color-default-blue;
}

.about-us__video-button::before {
  position: absolute;
  content: "";
  background: linear-gradient(97deg, #eb0233 17.6%, #003eb7 95.31%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  top: 51%;
  left: 51%;
  transform: translate(-50%, -50%);

  @include vp-1365 {
    width: 52px;
    height: 52px;
    top: 50%;
    left: 50%;
  }
}

.about-us__video-button::after {
  position: absolute;
  content: "";
  border: 7px solid transparent;
  border-left: 12px solid $color-default-white;
  top: 50%;
  left: 57%;
  transform: translate(-50%, -50%);

  @include vp-1365 {
    border: 5px solid transparent;
    border-left: 9px solid $color-default-white;
  }

  @include vp-767 {
    transform: translate(-54%, -50%);
  }
}

.about-us__video-button:hover::before,
.about-us__video-button:focus::before {
  background: $color-default-white;
  top: 50%;
  left: 50%;
}

.about-us__video-button:hover::after,
.about-us__video-button:focus::after {
  border-left: 12px solid $color-default-blue;
  top: 50%;
  left: 56%;

  @include vp-1365 {
    border: 5px solid transparent;
    border-left: 9px solid $color-default-blue;
    left: 57%;
  }
}

.about-us__video-button:active::before {
  width: 58px;
  height: 58px;
  transition: width 0.3s, height 0.3s;
  top: 50%;
  left: 50%;

  @include vp-1365 {
    width: 41px;
    height: 41px;
    top: 50%;
    left: 50%;
  }
}

.about-us__video-button:disabled,
.about-us__video-button:disabled:hover {
  border: 2px solid rgba(16, 38, 84, 0.4);
  cursor: default;
  box-shadow: none;
}

.about-us__video-button:disabled::after {
  border-left: 10px solid rgba(16, 38, 84, 0.4);
  top: 50%;
  left: 55%;

  @include vp-1365 {
    left: 57%;
    border-left: 9px solid rgba(16, 38, 84, 0.4);
  }
}

.about-us__video-button:disabled::before {
  background: $color-default-white;
  opacity: 0.4;
  top: 50%;
  left: 50%;
}

.about-us__video-button:disabled:active::before {
  width: 72px;
  height: 72px;

  @include vp-1365 {
    width: 52px;
    height: 52px;
  }
}

