@mixin active {
  &:active:not(.focus-visible) {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

.btn {
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  display: inline-flex;
  text-transform: uppercase;
  color: $color-default-white;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  user-select: none;

  transition: opacity $trans-default;

  &--white {
    color: $color-default-white;
    border: 2px solid $color-default-white;
    padding: 25px 55px;

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-default-blue-egypt;
      outline: none;
    }

    @include active {
      &:active:not(.focus-visible) {
        color: $color-default-blue;
      }
    }
  }

  /* for disabled add class btn--white-disabled */

  &--white-disabled {
    opacity: 0.5;
    pointer-events: none;
    
    @include hover-focus {
      background-color: transparent;
      color: $color-default-white;
      outline: none;
    }
  }

  &--dark {
    color: $color-default-blue;
    border: 2px solid $color-default-blue;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
