.btn {
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  display: inline-flex;
  text-transform: uppercase;
  color: $color-default-white;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: color 0.1s, background-color 0.2s;
}

.btn--white {
  color: $color-default-white;
  border: 2px solid $color-default-white;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-default-blue-egypt;
    outline: none;
  }
}

.btn.btn--white:active {
  color: $color-default-blue;
  background-color: $color-default-white;
}

/* for disabled add class btn--white-disabled */

.btn--white-disabled {
  opacity: 0.5;
  pointer-events: none;

  @include hover-focus {
    background-color: transparent;
    color: $color-default-white;
    outline: none;
  }
}
