.btn {
  font-family: $ff-placeholder;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.6px;
  display: inline-flex;
  text-transform: uppercase;
  color: $color-default-white;
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: color 0.1s, background-color 0.2s;

  &--white {
    color: $color-default-white;
    border: 2px solid $color-default-white;

    @include hover-focus {
      background-color: $color-default-white;
      color: $color-default-blue-egypt;
      outline: none;
    }

    @include active {
      &.focus-visible:active {
        color: $color-default-blue;
      }
    }
  }

  &--black {
    color: $color-default-blue;
    border: 2px solid $color-default-blue;

    @include hover-focus {
      color: #ffffff;
      border: none;
      background: linear-gradient(97deg, #eb0233 17.6%, #003eb7 95.31%);
      outline: none;
    }

    @include active {
      &.focus-visible:active {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }


  /* for disabled add class btn--white-disabled */

  &--white-disabled {
    opacity: 0.5;
    pointer-events: none;

    @include hover-focus {
      background-color: transparent;
      color: $color-default-white;
      outline: none;
    }
  }

  &--dark {
    color: $color-default-blue;
    border: 2px solid $color-default-blue;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
