.competitions {
    padding-top: 120px;
    padding-bottom: 120px;

}

.competitions__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

.competitions__content {
  background: $color-default-red;
  color: $color-default-white;
  padding: 81px 77px 0 80px;
  width: 500px;
}

.competitions__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 68px;
  margin-bottom: 21px;
  max-width: 343px;
  word-break: break-all;
}

.competitions__title {
  padding: 0;
  margin: 0;
  font-family: $second-font;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  max-width: 180px;
}

.competitions__date-wrapper {
  max-width: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.competitions__date-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 9px;
}

.competitions__date-name {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 19px;
  padding-bottom: 7px;
  word-break: break-all;

}

.competitions__date-day {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7px;
  position: relative;
  word-break: break-all;
  padding-top: 1px;
}

.competitions__date-day::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: $color-default-white;
  top: -5px;
}

.competitions__date-day--month::after {
  width: 70%;
}

.competitions__date-number {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  align-self: center;
  word-break: break-all;
}

.competitions__date-mounth {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 20px;
  gap: 0;
  word-break: break-all;
}

.competitions__text {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 49px;
  word-break: break-all;

}

.competitions__link {
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid $color-default-white;
  padding-top: 25px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitions__image {
  vertical-align: bottom;
}

.competitions__image img {
  object-fit: contain;
}
