.contacts {
  padding-left: 120px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  color: $color-default-blue;
  font-family: $second-font;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 120px;
}

.contacts__sub-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.contacts__sab-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

/**/
