.faq {
  background-color: $color-default-gray;
  padding: 120px 0;

  @include vp-1365 {
    padding: 101px 0 100px;
  }

  @include vp-767 {
    padding: 71px 0 70px;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $second-font;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin-bottom: 50px;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin-bottom: 49px;
      text-align: center;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      margin-bottom: 36px;
    }
  }

  button {
    width: 260px;
    text-align: center;
    border: 1px solid rgba(16, 38, 84, 0.2);
    background-color: $color-default-gray;
    color: $color-default-blue;
    padding: 19px 0 15px;
    font-size: 18px;
    line-height: 18px;

    @include vp-1365 {
      min-width: 162px;
      width: 100%;
    }

    @include vp-767 {
      min-width: 141px;
      width: 100%;
      font-size: 16px;
      line-height: 16px;
      padding: 15px 0 11px;
    }

    @include hover-focus {
      @media (hover: hover) {
        &:hover:not(.focus-visible) {
          outline: none;
        }
      }

      &.focus-visible:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &:hover {
      border: 1px solid $color-default-blue;
      outline: none;
    }

    &:focus {
      border: 1px solid $color-default-blue;
      outline: none;
    }

    &:disabled {
      border: 1px solid rgba(16, 38, 84, 0.2);
      color: #c8c9cc;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(28, 51, 116, 0.2);
    width: 100%;

    li {
      margin: 0;
      padding: 25px 0 24px;
      border-bottom: 1px solid rgba(28, 51, 116, 0.2);

      @include vp-1365 {
        padding: 25px 0 24px;
      }

      @include vp-767 {
        padding: 21px 0 21px;
      }
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;

      @include vp-1365 {
        font-size: 22px;
        line-height: 22px;
        padding-top: 1px;
      }

      @include vp-767 {
        font-size: 20px;
        line-height: 20px;
        max-width: 240px;
        padding-top: 0;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      max-width: 660px;
      margin-top: 0;

      @include vp-1365 {
        max-width: 550px;
      }

      @include vp-767 {
        font-size: 16px;
        line-height: 20px;
        max-width: 272px;
      }
    }

    button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $color-default-blue;
      background-color: $color-default-gray;
      position: relative;

      @include vp-1365 {
        min-width: 40px;
      }

      @include vp-767 {
        width: 30px;
        height: 30px;
        min-width: 30px;
      }
      // +
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 14px;
        height: 1px;
        background-color: $color-default-blue;
        transform: translate(-50%, -50%) rotate(90deg);
      }
      // -
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: 14px;
        height: 1px;
        background-color: $color-default-blue;
        transform: translate(-50%, -50%);
      }

      @include hover-focus {
        @media (hover: hover) {
          &:hover:not(.focus-visible) {
            outline: none;
          }
        }

        &.focus-visible:focus,
        &:focus-visible {
          outline: none;
        }
      }

      &:hover,
      &:focus {
        background-color: $color-default-blue;
      }

      &:hover::after,
      &:focus::after {
        background-color: $color-default-white;
      }

      &:hover::before,
      &:focus::before {
        background-color: $color-default-white;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }
}

.faq__wrapper {
  display: grid;
  grid-template-columns: 260px auto;
  gap: 40px;

  @include vp-1365 {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 39px;
  }

  @include vp-767 {
    gap: 29px;
  }
}

.faq__button-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 260px;
  align-self: start;
  margin-top: 1px;

  @include vp-1365 {
    grid-template-columns: repeat(4, 1fr);
    align-self: auto;
    width: 100%;
    margin-top: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
  }
}

.faq button.is-active:not(:disabled) {
  border: none;
  background: linear-gradient(97deg, #eb0233 17.6%, #003eb7 95.31%);
  color: $color-default-white;
  padding: 20px 0 16px;

  @include vp-767 {
    padding: 16px 0 12px;
  }
}

.faq__info-wrapper {
  display: grid;
  grid-template-columns: auto 40px;
  gap: auto;
  align-items: center;

  @include vp-767 {
    grid-template-columns: auto 30px;
    padding-top: 1px;
  }
}

.faq__info-wrapper--treners {
  @include vp-1365 {
    gap: 220px;
  }

  @include vp-767 {
    gap: 0;
  }
}

.faq__info-item.is-active p {
  margin-top: 4px;

  @include vp-1365 {
    margin-top: 2px;
  }

  @include vp-767 {
    margin-top: 20px;
  }
}

// button +/-
.faq__info-item.is-active button {
  background-color: $color-default-blue;
}

.faq__info-item.is-active button::after {
  display: none;
}

.faq__info-item.is-active button::before {
  background-color: $color-default-white;
}
