.features {
  margin: 0;
  background-color: $color-default-gray;
  padding: 120px 0;

  @include vp-1365 {
    padding: 101px 0 100px;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  h2 {
    font-family: $second-font;
    margin: 0;
    padding: 0;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    text-align: center;
    margin-bottom: 50px;
    color: $color-default-blue;

    @include vp-1365 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      margin-bottom: 48px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 0.96px;
      padding-left: 3px;
      margin-bottom: 55px;
    }
  }

  ul {
    display: grid;
    padding: 0;
    margin: 0 60px;
    grid-template-columns: 32.7% 23.08% 32.7%;
    grid-template-rows: 1fr 1fr;
    column-gap: 5.76%;
    list-style-type: none;

    @include vp-1365 {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      column-gap: 50px;
      row-gap: 39px;
      margin: 0;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      row-gap: 35px;
    }
  }

  li {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 29px;

    @include vp-1365 {
      column-gap: 13px;
    }

    @include vp-767 {
      flex-direction: column;
      align-items: center;
    }


    &:first-child { // первый
      grid-column: 2/3;
      grid-row: 1/-1;
      background-color: #1c3374;
      color: $color-default-white;
      flex-direction: column;
      padding: 70px 34px 79px;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      margin-top: 4px;
      position: relative;

      @include vp-1365 {
        grid-column: 1/-1;
        grid-row: 2/3;
        margin: 1px 20.5% 0;
        padding: 34px 95px 35px;
      }

      @include vp-767 {
        grid-row: 3/4;
      }
    }

    &:first-child::before { // линии на desktop
      position: absolute;
      content: "";
      width: 340px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      left: -400px;
      background-color: rgba(209, 10, 66, 0.2);

      @include vp-1365 {
        display: none;
      }
    }

    &:first-child::after { // линии на desktop
      position: absolute;
      content: "";
      width: 340px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      right: -400px;
      background-color: rgba(209, 10, 66, 0.2);

      @include vp-1365 {
        display: none;
      }
    }

    &:nth-child(even) p { // нечетные (и не первый)
      padding: 0 27px;
    }

    &:nth-child(odd):not(:first-child) b { // нечетные (и не первый)
      width: 72px;
    }

    &:first-child + li + li { // 3й
      @include vp-1365 {
        column-gap: 14px;
      }
    }

    &:first-child + li + li + li { // 4й
      padding-top: 58px;

      @include vp-1365 {
        padding-top: 0;
        gap: 14px;
      }
    }

    &:first-child + li + li + li + li { // 5й
      padding-top: 58px;
      justify-content: flex-start;
      gap: 27px;

      @include vp-1365 {
        padding-top: 0;
        gap: 12px;
      }
    }
  }

  li:first-child b {
    background-image: none;
    color: $color-default-white;
    -webkit-text-fill-color: $color-default-white;
    margin-bottom: 11px;
    padding-left: 5px;
    width: 113px;

    @include vp-1365 {
      padding-left: 3px;
      margin-bottom: 24px;
    }
  }

  li:first-child h3 {
    margin-bottom: 35px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }

  li:first-child p {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  b {
    font-family: $ff-placeholder;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0;
    background-image: linear-gradient(142deg, #d10a42 0%, #0041ca 88.33%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    word-break: break-all;
    width: 108px;

    @include vp-1365 {
      padding-top: 1px;
    }
  }

  span {
    font-size: 14px;
    line-height: 22px;
    color: #2e35ac;
  }

  h3 {
    margin: 0;
    padding: 0;
    padding-top: 1px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 400;

    @include vp-1365 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @include vp-1365 {
      font-size: 16px;
      line-height: 24px;
    }

    @include vp-767 {
      text-align: center;
    }
  }
}

.features__number-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include vp-767 {
    align-items: center;
  }
}


.features__text-block {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  @include vp-1365 {
    row-gap: 12px;
    max-width: none;
  }

  @include vp-767 {
    align-items: center;
    padding: 0 41px;
  }
}
/**/
