.footer {
  background-color: $color-default-blue-dark;
  padding: 39px 103px 41px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  color: $color-default-white;
  align-items: center;
  gap: 255px;
  border: none;
}

.footer__logo img {
  height: 24px;
  width: 107px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 40.5px;
}

.footer__item {
  margin: 0;
  padding: 0;
  width: min-content;
}

.footer__link {
  display: block;
  margin: 0;
  padding: 0;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  height: 100%;
  width: 100%;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.footer__social-item {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* for disabled add class .footer__social-link--disabled */

.footer__social-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-default-white;
  border-radius: 50%;

  &:hover:not(.footer__social-link--disabled),
  &:focus:not(.footer__social-link--disabled) {
    background-color: $color-default-blue-egypt;
    outline: none;
  }

  &:active:not(.footer__social-link--disabled) {
    background-color: $color-default-blue;
  }

  &--disabled {
    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
    outline: none;
  }
}

.footer__social-link svg {
  position: absolute;
  fill: $color-default-blue-dark;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer__social-link:hover svg,
.footer__social-link:focus svg {
  fill: $color-default-white;
}

.footer__social-link--disabled svg {
  fill: $color-default-blue-dark;
}

.footer__social-link--disabled:focus svg {
  fill: $color-default-blue-dark;
}
