.form {
  @include vp-1365 {
    padding: 101px 133px 100px;
    background-color: $color-default-blue;
  }

  @include vp-767 {
    padding: 71px 15px 70px;
  }
}

.form__title {
  color: $color-default-white;
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin-bottom: 33px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 29px;
  }
}

.form__wrapper {
  display: grid;
  max-width: 410px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 28px;

  @include vp-1365 {
    max-width: none;
    width: 100%;
    gap: 60px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 39px;
  }
}

.form__wrapper label {
  width: 100%;
  position: relative;
}

.input-message {
  color: #ff121f;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.form__wrapper input {
  padding: 0;
  padding-top: 6px;
  margin: 0;
  width: 100%;
  background-color: $color-default-blue;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  height: 36px;
  color: $color-default-white;
  border-bottom: 1px solid #74819c;
  user-select: none;

  @include vp-1365 {
    height: 37px;
  }

  &:hover:not(:disabled) {
    border-bottom: 1px solid  $color-default-white;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    border: 1px solid  $color-default-white;
    outline: none;
    padding-left: 5px;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.form__wrapper input::placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1365 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.form__wrapper input:focus::placeholder,
.form__wrapper input:active::placeholder {
  color: $color-default-blue;
}

.form__wrapper input:focus:disabled::placeholder,
.form__wrapper input:active:disabled::placeholder {
  color: $color-default-white;
}

.form__button {
  width: 410px;
  padding: 26px 0 24px;
  font-family: $ff-placeholder;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1365 {
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
    border: 1px solid $color-default-white;
    outline: 1px solid $color-default-white;
  }

  @include vp-767 {
    border: 2px solid $color-default-white;
    outline: none;
  }
}
