
.slider {
  padding-bottom: 120px;

  @include vp-1365 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.container--jury {
  position: relative;

  @include vp-767 {
    width: 90%;
  }
}

.slider__title {
  margin: 0;
  padding: 0;
  font-family: $second-font;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin-bottom: 45px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin-bottom: 39px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 41px;
  }
}

/* Первый div */
.slider .swiper-container {
  overflow: hidden;
  height: auto;

  @include vp-1365 {
    margin: 0 8.1%;
  }

  @include vp-767 {
    margin: 0 6.2%;
  }
}

.slider .swiper-wrapper {
  display: flex;
  min-height: 294px;
  height: 100%;
  align-items: stretch;

  @include vp-767 {
    min-height: 274px;
  }
}

/* Слайд */
.slider .swiper-container .swiper-slide {
  width: 100%;
  position: relative;
  height: 100%;
  user-select: none;
  outline: none;
}

.slider .swiper-slide img {
  width: 100%;
  height: 100%;
  min-width: 260px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;

  @include vp-1365 {
    min-width: 200px;
  }
}

.slider .swiper-slide:hover img {
  z-index: -1;
}

.slider .swiper-slide:hover .slider__name {
  position: static;
  transform: none;
  margin-bottom: 8px;
}

.slider .swiper-slide:focus img {
  z-index: -1;
}

.slider .swiper-slide:focus .slider__name {
  position: static;
  transform: none;
  margin-bottom: 8px;
}

.slider .swiper-slide:active img {
  @include vp-1365 {
    z-index: -1;
  }
}

.slider .swiper-slide:active .slider__name {
  @include vp-1365 {
    position: static;
    transform: none;
    margin-bottom: 8px;
  }
}

.slider .slider__info {
  color: $color-default-white;
  z-index: 1;
  width: 260px;
  background-color: $color-transparent;
  min-height: 294px;
  height: 100%;
  margin: 0 auto;
  padding: 45px 35px 50px;
  text-align: center;
  overflow: auto;

  @include vp-1365 {
    width: 100%;
  }

  @include vp-767 {
    min-height: 274px;
    padding: 30px 22px 50px;
  }
}

.slider .slider__name {
  font-family: $ff-placeholder;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  color: $color-default-white;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;


  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    bottom: 26px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.slider .slider__sport {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #b6bdcc;
}

.slider .slider__list {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  padding-left: 15px;

  @include vp-767 {
    margin-top: 25px;
  }
}

.slider .slider__item {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 22px;
  padding-left: 16px;
  text-align: left;
  position: relative;
}

.slider .slider__item::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $color-default-white;
  border-radius: 50%;
  left: 0;
  top: 8px;
}

/* Стрелки */

.slider .swiper-button-prev,
.slider .swiper-button-next {
  position: absolute;
  width: 56px;
  height: 56px;
  stroke: $color-default-blue;

  @include vp-767 {
    width: 33px;
    height: 33px;
  }
}

.slider .swiper-button-prev {
  left: 28px;
  top: 61%;

  @include vp-1365 {
    top: 59.3%;
    left: 28px;
  }

  @include vp-767 {
    top: 62.4%;
    left: -8px;
  }
}

.slider .swiper-button-next {
  right: 28px;
  top: 61%;

  @include vp-1365 {
    top: 59.3%;
    right: 28px;
  }

  @include vp-767 {
    top: 62.4%;
    right: -8px;
  }
}

.slider .swiper-button-next:hover,
.slider .swiper-button-prev:hover,
.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
  border-radius: 50%;
  outline: 1px solid $color-default-blue;
}

.slider .swiper-button-prev:active,
.slider .swiper-button-next:active {
  outline: none;
  background-color: $color-default-blue;
  transition: background-color 0.1s;
}

.slider .swiper-button-prev:active svg,
.slider .swiper-button-next:active svg {
  stroke: #ffffff;
}

/* for Disabled add class swiper-button--disabled */

.slider .swiper-button-prev.swiper-button--disabled,
.slider .swiper-button-next.swiper-button--disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  border: none;
  outline: none;
  background-color: none;
}

.slider .swiper-button-next.swiper-button--disabled:hover,
.slider .swiper-button-prev.swiper-button--disabled:hover,
.slider .swiper-button-prev.swiper-button--disabled:focus,
.slider .swiper-button-next.swiper-button--disabled:focus {
  border-radius: none;
  outline: none;
}

.slider .swiper-button-prev:active.swiper-button--disabled,
.slider .swiper-button-next:active.swiper-button--disabled {
  pointer-events: none;
  background-color: $color-default-white;
  stroke: $color-default-blue;
  border: none;
}

.slider .swiper-button--disabled:active svg {
  stroke: $color-default-blue;
}

/* SVG */

.slider .swiper-button-prev svg,
.slider .swiper-button-next svg {
  width: 16px;
  height: 32px;
  position: absolute;
  stroke: $color-default-blue;

  @include vp-1365 {
    width: 18px;
    height: 35px;
  }

  @include vp-767 {
    width: 11px;
    height: 19px;
  }
}

.slider .swiper-button-prev svg {
  right: 40%;
}

.slider .swiper-button-next svg {
  left: 40%;
  transform: rotate(180deg);
}

.slider .swiper-button-prev::after,
.slider .swiper-button-next::after {
  content: "";
}
