.subscription {
  background-color: #f8f9fc;
  padding-top: 126px;
  padding-bottom: 120px;
  position: relative;
}
/*
.subscription::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 347px;
    height: 444px;
    background-image: url("../../images/subscription/iron-discs-tablet.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    right: 0;
    bottom: -125px;
    z-index: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/subscription/iron-discs-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../images/subscription/iron-discs-desktop.png");
    width: 287px;
    height: 444px;
    bottom: -124px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/subscription/iron-discs-desktop@2x.png");
    }
  }
}*/

.subscription__title {
  padding: 0;
  margin: 0;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin-bottom: 22px;
  text-align: center;
  color: #102654;
  margin-bottom: 22px;
}

.subscription__period-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid rgba(120, 120, 120, 0.3);
  min-height: 41px;
  margin-bottom: 38px;
  max-width: 341px;
}

.subscription__period-item {
  margin: 0;
  padding: 0;
}

.subscription__period-button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(16, 38, 84, 0.5);
  font-size: 20px;
  line-height: 30px;
  background-color: #f8f9fc;
  min-height: 36px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  min-height: 41px;
}

.subscription__period-button:hover,
.subscription__period-button:focus {
  color: #102654;
  outline: none;
  transition: color 0.3s;
}

.subscription__period-button:hover::after,
.subscription__period-button:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d10a42;
  bottom: -2px;
  transition: background-color 0.3s;
}

.subscription__period-button:disabled {
  color: #102654;
  opacity: 0.3;
  cursor: default;
}

.subscription__period-button:disabled::after {
  display: none;
}

.subscription__period-button:disabled:focus::after,
.subscription__period-button:disabled:hover::after {
  display: none;
}

.subscription__period-button--active {
  color: #102654;
}

.subscription__period-button--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d10a42;
  bottom: -2px;
}

.subscription__plan-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 36px;
  z-index: 1;
/*
  @media (min-width: $tablet-width) {
    row-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }*/
}

.subscription__plan-item {
  background-color: #ffffff;
  padding: 51px 42px 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
/*
  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 64px;
    padding-bottom: 69px;
  }*/
}

.subscription__plan-item:focus-within,
.subscription__plan-item:hover {
  border: 7px solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(to right bottom, #d10a42, #00359f);
  padding: 44px 35px 48px;
/*
  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 61px;
  }*/
}

.subscription__plan-title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
/*
  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }*/
}

.subscription__plan-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 57px;
/*
  @media (min-width: $tablet-width) {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 67px;
  }*/
}

.subscription__price-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
/*
  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }*/
}

.subscription__plan-price {
  margin: 0;
  padding: 0;
  color: #103aae;
  font-size: 48px;
  font-weight: 700;
  line-height: 150%;
  padding-right: 34px;
  background-image: url("../../images/icons/stack.svg#ruble");
  background-repeat: no-repeat;
  background-size: 24px 33px;
  background-position: 100% 48%;
  position: relative;
  z-index: 1;
/*
  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 59px;
    padding-right: 45px;
    background-size: 30px 42px;
  }*/
}

.subscription__plan-shadow {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 80px;
  font-weight: 700;
  line-height: 150%;
  color: #e8e8e8;
  opacity: 0.48;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
  max-height: 130%;
  max-width: 120%;
  overflow: hidden;
/*
  @media (min-width: $tablet-width) {
    font-size: 100px;
    top: -55px;
  }*/
}
